<% layout('/layouts/default.html', {title: '车辆信息管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text('车辆信息管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<% if(hasPermi('owner:ownerInformation:edit')){ %>
					<a href="${ctx}/owner/ownerInformation/form" class="btn btn-default btnTool" title="${text('新增车辆信息')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${ownerInformation}" action="${ctx}/owner/ownerInformation/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('模块编号')}：</label>
					<div class="control-inline">
						<#form:input path="moduleNumber" maxlength="20" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('身份证号码')}：</label>
					<div class="control-inline">
						<#form:input path="idCard" maxlength="100" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('用户名')}：</label>
					<div class="control-inline">
						<#form:input path="userName" maxlength="100" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('性别')}：</label>
					<div class="control-inline width-120">
						<#form:select path="sex" dictType="sys_user_sex" blankOption="true" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('年龄')}：</label>
					<div class="control-inline">
						<#form:input path="age" maxlength="11" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('生日')}：</label>
					<div class="control-inline">
						<#form:input path="birthday" readonly="true" maxlength="20" class="form-control Wdate-date"
							dataFormat="date" onclick="WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:false});"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('电子邮箱')}：</label>
					<div class="control-inline">
						<#form:input path="email" maxlength="100" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('手机号')}：</label>
					<div class="control-inline">
						<#form:input path="phoneNumber" maxlength="20" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('车牌')}：</label>
					<div class="control-inline">
						<#form:input path="licensePlate" maxlength="100" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text('模块编号')}', name:'moduleNumber', index:'a.module_number', width:150, align:"left", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/owner/ownerInformation/form?id='+row.id+'" class="btnList" data-title="${text('编辑车辆信息')}">'+(val||row.id)+'</a>';
		}},
		{header:'${text('身份证号码')}', name:'idCard', index:'a.id_card', width:150, align:"left"},
		{header:'${text('用户名')}', name:'userName', index:'a.user_name', width:150, align:"left"},
		{header:'${text('性别')}', name:'sex', index:'a.sex', width:150, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('sys_user_sex')}, val, '${text('未知')}', true);
		}},
		{header:'${text('年龄')}', name:'age', index:'a.age', width:150, align:"center"},
		{header:'${text('生日')}', name:'birthday', index:'a.birthday', width:150, align:"center"},
		{header:'${text('电子邮箱')}', name:'email', index:'a.email', width:150, align:"left"},
		{header:'${text('手机号')}', name:'phoneNumber', index:'a.phone_number', width:150, align:"left"},
		{header:'${text('车牌')}', name:'licensePlate', index:'a.license_plate', width:150, align:"left"},
		{header:'${text('操作')}', name:'actions', width:120, sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('owner:ownerInformation:edit')){ %>
				actions.push('<a href="${ctx}/owner/ownerInformation/form?id='+row.id+'" class="btnList" title="${text('编辑车辆信息')}"><i class="fa fa-pencil"></i></a>&nbsp;');
				actions.push('<a href="${ctx}/owner/ownerInformation/delete?id='+row.id+'" class="btnList" title="${text('删除车辆信息')}" data-confirm="${text('确认要删除该车辆信息吗？')}"><i class="fa fa-trash-o"></i></a>&nbsp;');
			<% } %>
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>