<% layout('/layouts/default.html', {title: '区域信息', libs: ['dataGrid']}){ %>
<div class="main-content">
    <div class="box box-main">
        <div class="box-header with-border">
            <div class="box-title">
                <i class="fa icon-book-open"></i> 区域车辆管理
            </div>
            <div class="box-tools pull-right">
                <a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i>
                    ${text('查询')}</a>
            </div>
        </div>

        <div class="box-body">
            <div class="row">
                <div class="col-sm-12">
                    <#form:form id="searchForm" model="${realTimeRegionalVehicleInformation}"
                    action="${ctx}/realtime/realTimeRegionalVehicleInformation/listData" method="post" class="form-inline hide"
                    data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}"
                    data-order-by="${parameter.orderBy}">
                    <div class="form-group">
                        <label class="control-label">${text('身份证')}：</label>
                        <div class="control-inline">
                            <#form:input path="idCard" maxlength="25" class="form-control width-120"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">${text('模块编号')}：</label>
                        <div class="control-inline">
                            <#form:input path="moduleNumber" maxlength="50" class="form-control width-120"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">${text('发动机转速')}：</label>
                        <div class="control-inline">
                            <#form:input path="engineSpeed" class="form-control width-120"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">${text('油箱百分比')}：</label>
                        <div class="control-inline">
                            <#form:input path="mailbox" maxlength="255" class="form-control width-120"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">${text('用户名')}：</label>
                        <div class="control-inline">
                            <#form:input path="name" maxlength="255" class="form-control width-120"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">${text('上传时间')}：</label>
                        <div class="control-inline">
                            <#form:input path="datetime" class="form-control width-120"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">${text('二氧化碳')}：</label>
                        <div class="control-inline">
                            <#form:input path="carbonDioxide" maxlength="255" class="form-control width-120"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
                        <button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
                    </div>
                    </#form:form>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-md-5">
                    <div style="height: 40px;">
                        <div class="form-group">
                            <#form:form
                            action="${ctx}/realtime/realTimeRegionalVehicleInformation/list" method="post">
                            <#form:hidden path="longitude" id="longitude"/>
                            <#form:hidden path="latitude" id="latitude" />
                            <div class="input-group">
                                <span class="input-group-addon">经纬度</span>
                                <#form:input path="carbonDioxide" maxlength="255" class="form-control" disabled="disabled" id="longitudeAndLatitude"/>
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit">搜索</button>
                                </span>
                            </div>
                            </#form:form>
                        </div>

                    </div>
                    <div id="container"></div>
                </div>
                <div class="col-xs-12 col-md-7">
                    <table id="dataGrid"></table>
                    <div id="dataGridPage"></div>
                </div>
            </div>

        </div>
        <div class="box-footer" style="height:30px"></div>
    </div>
</div>
<% } %>
<script>
    // 初始化DataGrid对象
    $('#dataGrid').dataGrid({
        searchForm: $("#searchForm"),
        columnModel: [
            {header: '${text('身份证')}', name: 'idCard', index: 'idCard', width: 150, align: "left"},
            {header: '${text('模块编号')}', name: 'moduleNumber', index: 'moduleNumber', width: 150, align: "left"},
            {header: '${text('发动机转速')}', name: 'engineSpeed', index: 'engineSpeed', width: 150, align: "left", formatter: function (val, obj, row, act) {
                    return js.formatNumber(val, 0, false, '');
            }},
            {header:'${text('经度')}', name:'position.0', index:'position.0', width:150, align:"left"},
            {header:'${text('纬度')}', name:'position.1', index:'position.1', width:150, align:"left"},
            {header: '${text('油箱百分比')}', name: 'mailbox', index: 'mailbox', width: 150, align: "left"},
            {header: '${text('用户名')}', name: 'name', index: 'name', width: 150, align: "left"},
            {header:'${text('上传时间')}', name:'datetime', index:'datetime', width:150, align:"center",formatter: function(val, obj, row, act){
                    var date = new Date(val);
                    var month = date.getMonth()+1;
                    var date1 = date.getDate();
                    var hours = date.getHours();
                    var minutes = date.getMinutes();
                    var seconds = date.getSeconds();
                    return month+"月"+date1+"日  "+hours+":"+minutes+":"+seconds;
                }},
            {header: '${text('二氧化碳')}', name: 'carbonDioxide', index: 'carbonDioxide', width: 150, align: "left"}
        ],
        // 加载成功后执行事件
        ajaxSuccess: function (data) {

        }
    });

</script>

<script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.14&key=a9743b6367888c6073c8793e705239da"></script>
<script>

    $(function () {
        var height = $(window).height();
        $("#container").height(height - 140);
        $(window).resize(function () {
            var height = $(window).height();
            $("#container").height(height - 140);
        });
        $("#longitudeAndLatitude").val("${longitude},${latitude}");
        $("#longitude").val("${longitude}");
        $("#latitude").val("${latitude}");
    });

    var map = new AMap.Map('container',{
        center: [${longitude},${latitude}],
        zoom: 13
    });
    map.on('click', function(e) {
        $("#longitudeAndLatitude").val(e.lnglat.getLng() + ',' + e.lnglat.getLat());
        $("#longitude").val(e.lnglat.getLng());
        $("#latitude").val(e.lnglat.getLat());
    });
</script>